# Dependency directories
node_modules/
jspm_packages/

# Build artifacts
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables (Sensitive data)
.env
.env.local

